---
const props = Astro.props;
import { Image } from "astro:assets";
import whatsapp from "../../public/img/whatsapp.png"
---

<article
    class="rounded-xl flex flex-col justify-around border-2 border-safer-300 bg-safer-200 p-3 shadow-lg hover:shadow-xl hover:transform hover:scale-105 duration-300"
>
    <div class="relative flex items-end overflow-hidden rounded-xl">
        <Image class="object-cover" src={props.img} alt={props.alt} />
    </div>
    <div class="flex flex-col justify-center items-center mt-1 p-2">
        <h2 class="text-3xl text-center font-semibold text-black cursor-default">{props.title}</h2>
        <ul class="list-disc mt-1 text-sm text-safer-950 cursor-default">
            <li>
                {props.text1}
            </li>
            <li>
                {props.text2}
            </li>
            <li>
                {props.text3}
            </li>
            <li>
                {props.text4}
            </li>
        </ul>
        <div class="mt-3 flex items-end justify-between">
            <div
                class="w-full flex justify-center space-x-1.5 rounded-2xl bg-safer-600 px-4 py-2 text-white duration-100 hover:bg-safer-500"
            >
                <a href={props.msjWhatsApp} target="_blank" rel="noopener noreferrer" class="text-lg font-semibold flex items-center justify-center gap-2 w-48 h-9 md:w-60">
                    <Image class="max-w-4 max-h-5 h-auto" src={whatsapp} alt="whatsapp"/>
                    <p>
                        Cotizar 
                    </p>
                </a>
            </div>
        </div>
    </div>
</article>